@font-face {
    font-family: 'fold';
    src: url('./Flood\ Std\ Regular/Flood Std Regular.otf');
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://db.onlinewebfonts.com/c/bfbdc6a04609bff0d5ccdfcf6b766d95?family=Flood+Std");

:root {
    --primary-color: rgb(53, 68, 99);
    --secondary-color: rgb(193,247,213);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body,pre {
    font-family: "Signika";
    font-size: 16px;
    font-weight: 300;
}

a {
    color: #354463;
}

p, div {
    line-height: 1.6;
}



.navbar {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px 0;
}


.navigation {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    
    font-size: 1rem;
    font-weight: bold;

    width: 130px;
}

li {
    list-style: none;
}

.toggle-list {
    
    width: 80%;
    display: flex;
}

.drop-down {
    display: none;
}

.toggle-list ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.navbar {
    padding: 2% 0%;
}
.artical-message h1 {
    font-family: 'Playfair Display';
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 30px;
}
.donate-btn, .donate-btn-2{
    text-align: center;

    padding: 13px 20px;
    font-size: 18px;
    text-decoration-color: var(--primary-color);
    cursor: pointer;

    display: block;
    border-radius: 30px;
    color: var(--primary-color);
    line-height: 22px;
    background-color: var(--secondary-color);
    text-decoration: none;

}

.toggle-list ul li a {
    text-decoration: none;
    color: black;
}

.home-hero-section {
    display: flex;
    align-items: center;
    background-image: url('./images/annie-spratt-135307-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    padding: 7%;
}

.contain-1 {
    display: flex;
    color: var(--primary-color);
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    max-width: 1120px;
    margin: 0 auto;
}
 

.content {
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
    font-weight: 300;
    line-height: 24px;
    padding: 7%;
    position: relative;
    width: 60%;
}

.add-heading,.adjust {
    background-color: var(--primary-color);
    padding: 10px;
    position: absolute;
    top: -6%;
    left: 8%;
    color: white;
    width: 22%;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
.poster-content {
    width: 100%;
    font-weight: bold;
}

.text {
    color: var(--primary-color);
    font-family: sans-serif;
    line-height: 40px;
}



.read-more {
    font-weight: 100;
    font-size: 12px;
    color: var(--primary-color);
}

.customize-font {
    font-size: 72px;
    font-weight: 300;
    line-height: 72px;
    max-width: 100%;
    width: 40%;
    opacity: 1;
    color: white;
    font-family: 'fold';
}
.custom-font-message {
    padding: 10% 50% 10% 10%;
}
.adjust {
    position: absolute;
    top:-11px;
    left: 50%;
}

.take-action-section {
    background-color: var(--secondary-color);
    /* background-color: red; */
    position: relative;
}
.contain-2 {
    /* background-color: yellow; */
    max-width: 1120px;
    margin: 0 auto;
}
.text-block-1 {
    color: var(--primary-color);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
}

.take-action-btn {
    background-color: var(--primary-color);
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 1%;
    position: absolute;
    top:-8%;
    left: 50%;
}

.take-action {
    display: flex;
    padding : 3% 0%;
}
.take-action-column {
    width: 100%;
    /* padding: 2%; */
    padding: 5% 0%;
}
.take-action-column a h2 {
    margin-bottom: 5%;
}

.what-we-do-section {
    background-color: var(--primary-color);
}

.contain-3 {
    
    color: rgb(255, 255, 255);
    max-width: 1120px;
    margin: 0 auto;
    padding: 5% 0%;
}

.what-we-do-heading {
    color: var(--primary-color);
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 1%;
    font-size: 22px;
    
}

.what-we-do-inner article{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    padding: 5% 0% 5% 0%;
}



.what-we-do-image {
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-color);
    height: 250px;
    line-height: 24px;
    position: relative;
    top: -40px;
    right: -5%;
}

.what-we-do-image-tree {
    background-image: url('./images/tree-planting@3x.png');
}
.what-we-do-image-edu {
    background-image: url('./images/education-training.png');
}
.what-we-do-image-advocacy {
    background-image: url('./images/advocacy.png');
}

.what-we-do-container {
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:4%;
}

.what-we-do-content {
    padding : 2%;
    background-color: white;
}
 .add-photo-section {
    display: flex;
}

.what-we-do-content h2 {
    font-size: 25px;
}

.what-we-do-content-hold {
    padding: 10% 0%;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 100;
}
.read-more-btn {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.read-more-btn a {
    text-align: center;
    padding: 13px 20px 13px 20px;
    font-size: 18px;
    text-decoration-color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    color: var(--primary-color);
    line-height: 22px;
    background-color: var(--secondary-color);
    text-decoration: none;
} 

.contain-4 {
    max-width: 1120px;
    margin: 0 auto;
}

.climate-hunger-section {
    background-color: var(--secondary-color);
}


.climate-inner-container {
    padding: 5% 0%;
    display: flex;
    justify-content: space-around;
}

.custom-font-climate {
    margin-bottom: 50px;
    text-align: left;
}
.climate-message {
    font-family: 'fold';
    font-size: 60px;
    line-height: 100%;
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    opacity: 1;
    margin-bottom: 10%;
    width: 40%;
}
.custom-font-climate a{
    text-decoration: none;
    line-height: 22px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 30px;
    padding: 13px 20px 13px 20px;
}

.climate-hunger-section {
    background-image: url('./images/did-you-know-background.png');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 64px 0px;
}
.climate-hunger-issue {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    line-height: 24px;
    margin-bottom: 64px;
    margin-right: 64px;
    text-align: left;
}
.did-you-know {
    text-align: center;
    position: absolute;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    left: 0;
    top: -10px;
    left: 30%;
    padding: 10px;;
}
.social-wrap {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.social-circle {
    border-radius: 50%;
    margin-left: 10px;
    background-color: var(--secondary-color);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 16px 13px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.twitter-circle {
    background-image: url(./images/twitter.svg);
    cursor: pointer;
}
.facebook-circle {
    background-image: url(./images/facebook-f.svg);
    cursor: pointer;
}
.did-you-heading {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.did-you-know-message div{
    line-height: 24px;
    font-size: 16px;
    font-weight: 200;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.did-you-know-message h3 {
    font-size: 40px;
    color: var(--primary-color);
}

.contain-4 {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.just-for-fun {
    display: flex;
}

.do-you-know-section-container {
        display: flex;
        background-color: rgb(255, 255, 255);
        flex-direction: row;
        font-weight: 300;
        padding: 60px 32px 60px 32px;
        width: 100%;
        /* text-align: center; */
        position: relative;
        margin-bottom: 30px;
}

.contain-5 {
    max-width: 1120px;
    margin: 0 auto;
}
.stories-tag {
    text-align: center;
    padding: 25px;
    font-weight: 300;
}
.design-stories-tag {
    background-color: var(--primary-color);
    color: rgb(255,255, 255);
    max-width: 100%;
    padding: 2% 3%;
    display: inline-block;
}
.add-photo-stories {
    padding: 10px 10px;
    order: 1;
}


.stories-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.design-photo-section {
    background-image: url(./images/lady-baby.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50%;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.add-content-stories {
    
    text-align: center;
    font-size: 1.3rem;
    /* padding-top: 10%; */
    background-color: var(--primary-color);
    color: rgb(255,255, 255);
    /* line-height: 24px; */
    font-weight: 700;
    margin-bottom: 30px;
    order: 0;
    position: relative;
    /* left: 20%; */
    left: 5%;
    justify-self: center;
    align-self: center;
    /* width: 800px; */
    width: 100%;

    /* background-color: red; */
}
.design-content-stories {
    margin-bottom: 30px;
    padding: 2%;
    line-height: 200%;
}
.info {
    font-size: 14px;
    font-weight: 200;
}
.take-action-link a{
    text-align: center;
    padding: 13px 20px 13px 20px;
    font-size: 18px;
    text-decoration-color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    color: var(--primary-color);
    line-height: 22px;
    background-color: var(--secondary-color);
    text-decoration: none;
}

.contain-6 {
    max-width: 1120px;
    margin: 0 auto;
}

.take-action-link {
    padding : 1%;
    font-weight: 700;
    margin-bottom: 30px;
}
.add-content-stories {
    width: 100%;
}

.take-action-link a{
    text-align: center;
    padding: 13px 20px 13px 20px;
    font-size: 18px;
    text-decoration-color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    color: var(--primary-color);
    line-height: 22px;
    background-color: var(--secondary-color);
    text-decoration: none;
}
.take-action-link {
    text-align: center;
    margin-bottom: 30px;
}
.home-updates-section {
    background-color: var(--primary-color);
    max-width: 100%;
}
.home-update {
    font-family: 'fold';
    font-size: 500%;
    line-height: 100px;
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    opacity: 1;
    margin-bottom: 20px;
    padding: 8% 0%;
}
.layout-design {
    display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr; 
}
.add-image-tree-plant {
    background-image: url(./images/tree-planting.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 120px 0px;
    margin-bottom: 20px;
    height: 600px;
}
.add-image-meeting {
    background-image: url(./images/meeting.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px 0px 170px 0px;
    margin-bottom: 20px;
    height: 600px;
}
.hold-container {
    line-height: 16px;
    padding: 0 0 50px 96px;
}
.event {
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
    margin-bottom: 30px;
}
.add-event{
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
    text-align: center;
    padding: 4px 4px;
    position: relative;
    top: 0;
    padding: 2% 2%;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 40px;
    width: 30%;
    font-weight: 300;
    letter-spacing: 3px;
}
.add-event-1 {
    display: inline-block;
    margin-bottom: 40px;
    padding: 2% 2%;
    letter-spacing: 3px;
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
}
.add-content-home-update {
    padding: 0 96px 50px 0;
}
.add-heading-home-update-1 h2{
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.add-content-home-update-1 p {
    font-size: 20px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.read-more-btn-1 a {
    padding: 3% 4%;
    font-size: 18px;
    text-decoration-color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    color: var(--primary-color);
    line-height: 22px;
    background-color: var(--secondary-color);
    text-decoration: none;
    font-weight: 700;
}

.contain-7 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.subscribe-section {
    width: 50%;
}

.subscribe h3 {
    font-size: 23px;
    font-weight: 700;
}

.contain-7 form {
    width: 50%;
}

.update-post {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.email-input {
    /* background-color: pink; */
    width: 60%;
}

.newsletter-signup {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
}
.subscribe {
    /* padding: 50px 0px 0px 0px; */
    padding: 10% 0%;
    font-size: 26px;
    margin: 0px 10px 0px 10px;
}
.enter-email {
    /* border: 1px solid red; */
    width: 100%;
}
.enter-email input {
    display: block;
    padding: 12px 20px;
    border-radius: 50px;
    width: 100%;
    border: none;
}
.enter-email {
    margin: 0px 10px 10px 10px;
}
.subscribe-btn input {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 100px;
    /* margin-bottom: 50px; */
    border: none;
}
.subscribe-btn {
    margin: 0px 10px 10px 10px;
}


.contain-8 {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1120px;
    margin: 0 auto;
}
.brand-name {
    padding: 10px;
    display: inline-block;
}

.footer-name {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 300;
    margin-right: 20px;
}

.footer-section {
    padding :30px 0px 30px 0px;
}
.footer-section a{
    text-decoration: none;
}
.footer-section a h2 {
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 700;
    width: 30%;
    line-height: 24px;
}
.contact-us {
    margin-left: 10px;
    width: 35%;
    margin-bottom: 20px;
    color: var(--primary-color);
    line-height: 24px;
}
.contact-us h2 {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 100;
    width: 100%;
}
.add-details {
    font-weight: 100;
    width: 100%;
}
hr {
    opacity: 0.1;
    margin-bottom: 10px;
}
.customize-font-last{
    font-family: 'fold';
    width: 15%;
    font-size: 34px;
    /* position: relative;
    left: 70%; */
}

.last-section-page{
    font-size: 12px;
    font-weight: 100;
    margin: 20px 7px 0px 10px;
    line-height: 22px;
}

.main-thing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1140px) {
    .home-hero-section {
        padding: 10% 10px;
    }
    .navbar {
        padding: 0% 10px;
    }
    .take-action {
        padding: 0% 10px;
    }
}

.brand-name {
    display: none;
}

/*Tablet responsive design*/
@media(max-width:990px) {

    .navigation {
        flex-direction: column;
        justify-content: flex-start;
    }
    .donate-btn {
        display: none;
    }
    .drop-down {
        display: block;
        position: absolute;
        right: 100px;
        top: 70px;
    }
    .customize-font {
        order: -2;
    }
    .contain-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .content {
        line-height: 24px;
        padding: 15% 15% 15% 15%;
        width: 100%;
    }
    .content h1 {
        font-size: 18px;
    }
    .contain-2 {
        display: flex;
        /* width: 100%; */
        align-items: center;
        position: relative;
        padding: 5% 0% 0% 5%;
        margin: 0 auto;
        max-width: 1120px;
    }
    
    .take-action {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .take-action-column {
        width: 100%;
        padding: 10%;
    }
    .take-action-btn {
        background-color: var(--primary-color);
        display: inline-block;
        color: rgb(255, 255, 255);
        padding: 2%;
        position: absolute;
        top:-4%;
        left: 40%;
    }
    .what-we-do-container {
        grid-template-columns: 1fr;
        padding: 0%;
    }
    
    .what-we-do-image {
        padding: 0%;
    }


    .heading-sm {
        padding: 1%;
    }
    .what-we-do-content-hold {
        padding: 5% 3%;
    }
    .what-we-do-inner article{
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-bottom: 20%;
    }
    .climate-inner-container {
        padding: 10%;
    }
    .climate-message {
        font-size: 35px;
    }
    .did-you-know {
        left: 10%;
        padding: 3%;
    }
    .add-content-stories {
        order : 1;
        position:relative;
        font-size: 1rem;
        left : 10%;
        width: 70%;
        top : -50%;
    }
    .add-photo-stories{
        order : 1;
        padding: 10%;

    }
    .stories-box {
        display: grid;
        grid-template-columns: 1fr;
    }
    .design-photo-section {
        justify-self: center;
        align-self: center;
    }

    .take-action-link {
        text-align: center;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .design-stories-tag {
        padding: 3% 3%;
    }
    .contain-7 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .update-post {
        width: 100%;
        display: inline-block;
    }
}

/* Mobile Responsive desing */
@media(max-width:479px) {
    .toggle-list {
        display: none;
    }

    .drop-down {
        position: static;
    }

    .drop-down ul li {
        border: 2px solid black;
        margin: 5px;
        width: 20px;
        background-color: black;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }
    .navigation {
        display: flex;
        align-items: unset;
        flex-direction: row;
        justify-content: space-between;
    }
    .contain-1 {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        width: 476px;
        align-items: flex-start;
    }
    .home-hero-section {
        padding: 80px 0px 80px 0px;
        line-height: 24px;
    }
    .donate-btn {
        display: none;
    }
    .donate-btn-2 {
        display: none;
    }
    .content {
        box-sizing: border-box;
        color: var(--primary-color);
        padding: 50px 30px 30px 30px;
        width: 100%;
        line-height: 40px;
        font-weight: 700;
    }
    .content h1 {
        font-size: 16px;
    }
    .add-heading,.adjust {
        /* letter-spacing: 2px; */
        font-size: 10px;
        font-weight: 300;
        top: -15px;
        left: 35%;
        text-align: center;
        padding: 1%;

    }
    .text {
        max-width: 100%;
        line-height: 28px;
        margin-bottom: 10px;
        text-align: center;
        width: 398px;
    }
    .read-more {
        text-align: center;
    }
    .poster-content {
        font-weight: 700;
    }
    .customize-font {
        order: -2;
        font-size: 44px;
        line-height: 46px;
        max-width: 100%;
        text-align: left;
        width: 296px;
        margin-bottom: 76px;
        position: relative;
        left: -30px;
    }
    .home-hero-section {
        padding: 70px 0px 70px 0px;
    }

    .contain-2 {
        max-width: 100%;
        padding: 0px 15px 0px 15px;
        line-height: 24px;
        font-size: 1rem;
        width: 100%;
    }

    .take-action {
        align-content: center;
        padding: 5%;
        width: 100%;
        line-height: 24px;
        font-size: 1rem;
    }
    .take-action-column {
        float: left;
        width: 100%;
        max-width: 100%;
        font-size: 16px;
    }
    .take-action-column a {
        line-height: 24px;
        text-decoration-style: solid;
        font-size: 12px;
    }
    .text-block-1 {
        font-size: 14px;
    }
    .take-action-btn {
        left: 33%;
        
    }
    .contain-3 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--primary-color);
        color: white;
    }
    .what-we-do-heading {
        color: var(--primary-color);
        background-color: white;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        position: static;
        margin-top: -16px;
        padding: 11px 40px 11px 40px;
        top: 0;
    }
    .add-what-we-do {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: white;
        font-weight: 300;
    }
    .what-we-do-section {
        background-color: var(--primary-color);
        padding-top: 56px;
        padding-bottom: 56px;
        line-height: 24px;
    }
    .what-we-do-moto {
        font-size: 1rem;
        line-height: 24px;
        padding: 5%;
        text-align: center;
        font-weight: 300;
    } 
    .what-we-do-inner {
        text-align: center;
    }
    .what-we-do-inner article {
        font-size: 22px;
    }

    .add-photo-section {
        line-height: 24px;
        width: 100%;
        float: left;
    }
    .what-we-do-container {
        display: inline-block;
        margin-top: 32px;
        max-width: 100%;
        color: var(--primary-color);
        text-align: center;
        line-height: 24px;
        position: relative;
    }
    .what-we-do-content {
        background-color: rgb(255, 255, 255);
        color: var(--primary-color);
        padding: 0px 40px 40px;
        text-align: center;
        margin-bottom: 120px;
    }
    .what-we-do-image {
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--primary-color);
        height: 200px;
        line-height: 24px;
        position: relative;
        top: -40px;
    }
    
    .what-we-do-content-hold {
        text-align: center;
        font-family: sans-serif;
        margin-bottom: 30px;
    }
    .heading-sm {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        line-height: 22px;
        font-weight: 700;
    }
    .contain-4 {
        color: var(--primary-color);
        line-height: 24px;
        max-width: 100%;
        padding: 0px 10px;
    }
    .climate-inner-container {
        display: inline-block;
    }
    .did-you-know {
        left: 10%;
        padding: 3%;
    }
    .do-you-know-section-container {
        display: flex;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        font-weight: 300;
        padding: 60px 32px 60px 32px;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        width: unset;
        /* align-self: end; */
    }
    .do-you-know-section {
        align-self: flex-end;
    }
    .social-circle {
        margin-bottom:unset;
    }
    .social-wrap {
        margin-top: 36px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .did-you-know-message div {
        text-align: center;
    }
    .did-you-know-message h3 {
        font-size: 24px;
    }
    .contain-5 {
        padding : 0px 10px;
    }
    .stories-tag {
        text-align: center;
        padding: 30px;
        font-weight: 300;
    }
    .design-stories-tag {
        background-color: var(--primary-color);
        color: rgb(255,255, 255);
        max-width: 100%;
        padding: 10px;
        display: inline-block;
    }
    .add-photo-stories {
        padding: 10px 10px;
    }
    .stories-box {
        display: inline-block;
    }
    .design-photo-section {
        background-image: url(./images/lady-baby.png);
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 170px 0px 170px 0px;
        margin-bottom: 20px;
        width: 100%;
    }
    .add-content-stories {
        text-align: center;
        font-size: 1rem;
        padding: 10px 10px;
        background-color: var(--primary-color);
        color: rgb(255,255, 255);
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 30px;
        position: static;
        width: 100%;
    }
   .design-content-stories {
        margin-bottom: 30px;
   }
   .info {
    font-size: 10px;
    font-weight: 200;
   }
   .take-action-link a{
        text-align: center;
        padding: 13px 20px 13px 20px;
        font-size: 18px;
        text-decoration-color: var(--primary-color);
        cursor: pointer;
        display: inline-block;
        border-radius: 30px;
        color: var(--primary-color);
        line-height: 22px;
        background-color: var(--secondary-color);
        text-decoration: none;
   }
   .take-action-link {
        text-align: center;
        margin-bottom: 30px;
   }
   .home-updates-section {
        background-color: var(--primary-color);
        max-width: 100%;
   }
   .contain-6 {
        padding: 0px 10px;
   }
   .home-update {
    font-family: 'fold';
    font-size: 44px;
    line-height: 46px;
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    opacity: 1;
    margin-bottom: 20px;
    padding: 45px 45px;
   }

   .layout-design {
    display: flex;
    flex-direction: column;
   }


   .add-image-section-1 {
        order: -2;
   }

   .hold-container {
        order: -1;
   }
   .add-content-home-update {
        order: 2;
   }

   .add-image-section {
        order: 1;
   }

   .add-image-tree-plant {
    height: unset;
    }

    .add-image-meeting {
        height: unset;
    }
    .add-content-home-update {
        padding: unset;
    }
    .hold-container {
        padding: unset;
    }
   
    .hold-container {
        margin-left: 15px;
        line-height: 16px;
    }
    .event {
        background-color: rgb(255, 255, 255);
        color: var(--primary-color);
        margin-bottom: 30px;
        display: block;
    }
    .add-event{
        text-align: center;
        position: relative;
        top : -30px;
        left: 35%;
        padding: 3%;
    }

    .add-event-1 {
        position: relative;
        top: -30px;
        left: 30%;
        padding: 2%;
    }

    .add-heading-home-update-1 h2{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .add-content-home-update-1 {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .read-more {
        margin-bottom: 30px;
    }
    .newsletter-signup {
        background-color: var(--secondary-color);
        /* background-color: red; */
        color: var(--primary-color);
        font-weight: 700;
    }
    .contain-7 .subscribe-section {
        /* background-color: pink; */
        width: 100%;
        padding: unset;
    }
    .contain-7 form {
        /* background-color: pink; */
        width: 100%;
    }
    .email-input {
        width: 94%;
        /* margin: 0 auto; */
    }
    .enter-email  {
        /* background-color: red; */
        width: 100%;
    }
    .update-post {
        display: inline-block;
        width: 100%;
    }
    .subscribe {
        padding: 50px 0px 30px 0px;
        margin: 0px 10px 10px 10px;
        font-size: 16px;
    }
    .enter-email input {
        padding: 12px;
        border-radius: 16px;
        width: 100%;
    }
    .enter-email {
        margin: 0px 10px 10px 10px;
    }
    .subscribe-btn input {
        padding: 15px;
        background-color: var(--primary-color);
        color: rgb(255, 255, 255);
        width: 100%;
        border-radius: 28px;
        margin-bottom: 50px;
    }
    .subscribe-btn {
        margin: 0px 10px 10px 10px;
    }
    .contain-8 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .brand-name {
        padding: 10px;
        display: inline-block;
    }
    .footer-section {
        padding :30px 0px 30px 0px;
    }
    .footer-section a{
        text-decoration: none;
    }
    .footer-section a h2 {
        font-size: 16px;
        color: var(--primary-color);
        font-weight: 700;
        width: 30%;
        line-height: 24px;
    }
    .contact-us {
        margin-left: 10px;
        width: 35%;
        margin-bottom: 20px;
        color: var(--primary-color);
        line-height: 24px;
    }
    .contact-us h2 {
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 100;
    }
    .add-details {
        font-weight: 100;
    }
    hr {
        opacity: 0.4;
        margin-bottom: 10px;
    }
    .customize-font-last{
        font-family: 'fold';
        width: 15%;
        font-size: 34px;
        position: relative;
    }
    .main-thing {
        display: inline-block;
    }
    .last-section-page{
        font-size: 12px;
        font-weight: 100;
        margin: 20px 7px 0px 10px;
        line-height: 22px;
    }
    .brand-name-1 {
        display: none;
    }
}

.take-action a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    color: var(--primary-color);
}